# fly.toml app configuration file generated for picklejar on 2025-12-10T16:08:35Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'picklejar'
primary_region = 'iad'

[build]
  dockerfile = "Dockerfile"

[http_service]
  auto_start_machines = true
  auto_stop_machines = true
  force_https = true
  internal_port = 8_000
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
