@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Enforce light mode variables */
    --foreground-rgb: 17, 24, 39; /* gray-900 */
    --background-rgb: 249, 250, 251; /* gray-50 */
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    min-height: 100vh;
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(1.25rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-in {
    animation: slideInFromBottom 300ms ease-out forwards;
}
